# ============================================================
# Maven
# ============================================================

target/
!**/src/main/**/target/
!**/src/test/**/target/


# ============================================================
# IntelliJ IDEA
# ============================================================

.idea/
*.iml
*.iws
*.ipr


# ============================================================
# Smart Tomcat
# ============================================================

.smarttomcat/

src/main/resources/

# ============================================================
# Eclipse
# ============================================================

.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache


# ============================================================
# NetBeans
# ============================================================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# ============================================================
# Build
# ============================================================

build/
!**/src/main/**/build/
!**/src/test/**/build/


# ============================================================
# VS Code
# ============================================================

.vscode/


# ============================================================
# OS & IDE Cache
# ============================================================

.DS_Store
Thumbs.db
.vs/
**/.vs/

# Internal learning docs
docs/